.cont {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cont:hover .handle {
    display: flex;
}

.slider {
    --items-per-screen: 4;
    --slide-index: 0;
    display: flex;
    flex-grow: 1;
    height: 35rem;
    margin: 0 .25rem;
    transform: translateX(calc(var(--slide-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.slider>img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    height: 100%;
    background-color: #cfd1d1;
    border-radius: 1rem;
    object-fit: contain;
    cursor: pointer;
    transition: .5s;
    opacity: 0.8;
    margin: .12rem;
}

.slider>img:hover {
    transform: scale(1.025);
    opacity: 1;
}

.handle {
    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 3.5rem;
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    margin: .25rem 0;
    cursor: pointer;
    font-size: 7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle-text {
    transition: transform 150ms ease-in-out;
}

.handle:hover,
.handle:focus {
    background-color: rgba(0, 0, 0, .45);
}

.handle:hover .handle-text,
.handle:focus .handle-text {
    transform: scale(1.1);
}

.top-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem calc(.25rem * 2 + 3rem);
}

.title-slider {
    font-size: 2rem;
    margin: 0;
    opacity: 0.8;
}

.title-slider:hover {
    opacity: 1;
}

.progress-bar-slider {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .25rem;
    background-color: #2f3d46;
}

.progress-item.active {
    background-color: #7b919c;
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
        height: 25rem;
    }
    .slider>img {
        flex: 0 0 calc(100% / var(--items-per-screen));
        max-width: calc(100% / var(--items-per-screen));
        height: 100%;
        margin: .30rem;
        border-radius: 1rem;
        background-size: contain;
        background-position: center center;
        background-color: #cfd1d1;
        border-style: solid;
        border-width: 1.5px;
        border-color: rgba(0, 0, 0, .10);
        background-repeat: no-repeat;
        transition: .5s;
        opacity: 0.8;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    .slider {
        --items-per-screen: 2;
        height: 20rem;
    }
    .slider>img {
        flex: 0 0 calc(100% / var(--items-per-screen));
        max-width: calc(100% / var(--items-per-screen));
        height: 100%;
    }
}

@media (max-width: 450px) {
    .slider {
        --items-per-screen: 2;
        height: 20rem;
    }
    .slider>img {
        flex: 0 0 calc(100% / var(--items-per-screen));
        max-width: calc(100% / var(--items-per-screen));
        height: 100%;
    }
}